:root {
    --main_bkgrnd_clr: #110673;
    --font_fmly: Arial, Helvetica, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

/* admin-add.php */

.admin_add_cont {
    width: 90vw;
	min-width: 801px;

    margin-top: 100px;

    margin-left: auto;
    margin-right: auto;

	background-color: #273c4d;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.admin_add_cont h1 {

    padding-top: 10px;

    margin: 0;

    border-bottom: solid gray;

    color: #ffffff;
}

.admin_add_cont p {

    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 10px;

    margin: 0;

    text-align: left;

    color: #ffffff;

}

.admin_add_cont label {
    
    color: #ffffff;

}

.add_adv_form {

    width: 220px;

}

.admin_add_form {

    padding-left: 40px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-align: left;
}

.admin_add_form input {

    margin-bottom: 5px;
    
}

.ad_cont_textarea {
    text-align: left;
}


/* Send-email.php */

.email_confirmation_box {
    width: 800px;
    height: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
	background-color: #273c4d;
    text-align: center;
}

.send_email_h2 {
    text-align: center;
    padding-top: 20px;
    color: #ffffff;
}

/* new-account.php */
.new_account_h2 {
    border-bottom: solid gray;
    padding-left: 10px;
    padding-top: 10px;
    color:#FFFFFF;
    margin-bottom: 10px;
}

/* Notworking.php */

.not_working_h2 {
    border-bottom: solid gray;
    padding-left: 10px;
    padding-top: 10px;
    color:#FFFFFF;
    margin-bottom: 10px;
}

/* Logout.php */
.return_link {
    padding-left: 10px;
    padding-bottom: 10px;
}

.return_link a {
    text-decoration: none;
    color:#ffffff
}

.return_link a:hover {
    color:#110673
}

/* Logout Button */
.logout_button {
    float: right;
    padding-right: 5vw;
    margin-top: 100px;
    position: relative;
    display: block;
    color: var(--main_bkgrnd_clr);
    font-family: var(--font_fmly);
}
/* Problem.php Header */
.problem_header {
    border-bottom: solid gray;
    padding-left: 10px;
    padding-top: 10px;
    color:#FFFFFF;
    margin-bottom: 0;
}
.problem_p {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#FFFFFF;
    background-color: #273c4d;
    margin: 0;
    font-family: var(--font_fmly);
}
/* Problem.php links */
.problem_p a {
    text-decoration: none;
    color:#ffffff
}

.problem_p a:hover {
    color:#110673
}

.problem_welcome {
    width: 70vw;
    height: 15vh;
	min-width: 801px;
    margin: auto;
    margin-top: 100px;
	background-color: #273c4d;
}
/* Index.php Form/Form Box Styles */
.welcome_box {
    width: 800px;
    height: 100px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
	background-color: #273c4d;
    text-align: center;
}

.welcome_header {
	text-align: center;
    font-family: var(--font_fmly);
    padding-top: 10px;
    color: #ffffff;
}

.formField {
    padding: 0px;
	margin: 0px;
}

.firstFormField {
    margin-left: 10%;
}

.lastFormField {
    margin-right: 10%;
}
/* Top Header Bar */
.main_header {
    width: 100%;
    height: 75px;
    background-color: var(--main_bkgrnd_clr);
    box-shadow: 0px 30px 50px 0px #000000;
    position: fixed;
    z-index: 1;
    font-family: var(--font_fmly);
    top: 0px;
}

.main_header_php {
    width: 100%;
    height: 75px;
    background-color: var(--main_bkgrnd_clr);
    box-shadow: 0px 30px 50px 0px #000000;
    position: absolute;
    font-family: var(--font_fmly);
    top: 0px;
}

.header_container {
    display: flex;
}
.header_button {
    width: 50px;
    height: 50px;
    padding: 10px;
}
.header_logo {
    width: 60px;
    height: 60px;
    padding: 5px;
}
.header_title {
    margin: auto;
    color: #FFFFFF;
}

/* Side Navigation Bar */
.header_nav {
    height: 100vh;
    width: 10vw;
    background-color: var(--main_bkgrnd_clr);
    margin: 0px;
    position: relative;
    z-index: 1;
    left: -10vw;
    transition: all 1s;
}
.header_nav.active {
    left: 0vw;
}
.header_nav_menu {
    list-style-type: none;
    padding: 12px;
    margin: 0;
    color: #FFFFFF;
    font-size: 25px;
    line-height: 1.5;
}

/* Main Page Image*/
.main_image_container {
    width: 1200px;
    margin: 0px auto 0px auto;
    padding: 0px;
    position: relative;
    z-index: 0;
    text-align: center;
}
.main_image {
    width: 1200px;
    margin: 0px auto 0px auto;
    padding: 0px;
}
.image_text {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #FFFFFF;
  font-size: 65px;
  font-family: var(--font_fmly);
  width: 100vw;
}

/* Main Page Content */
.main_content {
    width: 1200px;
    margin: 0px auto 100px auto;
    padding: 0px;
    font-family: var(--font_fmly);
}
.main_content h1 {
    font-size: 70px;
    margin: 10px auto 10px auto;
    border-bottom: solid gray;
    padding-left: 10px;
}
.main_content h2 {
    font-size: 40px;
    margin: 10px auto 10px auto;
    padding-left: 10px;
}
.main_content h3 {
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
}
.main_content h4 {
    padding: 0px 10px 0px 10px;
    margin: 0;
}
.main_content p {
    padding: 0px 10px 0px 10px;
    margin: 0;
}

/* Halifax & Sydney links */
.main_content a {
    text-decoration: none;
    color: #000000;
}
.main_content a:hover {
    color: var(--main_bkgrnd_clr);
}

/* Styles for nav bar, with 1200 - 1700px */
@media only screen and (max-width: 1700px) {
    .header_nav {
        width: 12vw;
        left: -12vw;
    }
}

/* Styles for screen width 1200 - 800px */
@media only screen and (max-width: 1200px) {
    .main_image_container {
        width: 100vw;
    }
    .main_image {
        width: 100vw;
    }
    .main_content {
        width: 100vw;
    }
    .header_nav {
        width: 20vw;
        left: -20vw;
    }
}

/* Styles for screen width below 800px */
@media only screen and (max-width: 800px) {
    .header_title {
        font-size: 25px;
    }
    .header_nav_menu {
        font-size: 20px;
    }
    .image_text {
        font-size: 50px;
    }
    .main_content h1 {
        font-size: 50px;
    }
    .main_content h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 15px;
    }
    h4 {
        font-size: 12px;
    }
    p {
        font-size: 12px;
    }
    .header_nav {
        width: 20vw;
        left: -20vw;
    }
}
